*, *::after, *::before {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.world {
    overflow: hidden;
    width: 100%;
}

.score {
    position: absolute;
    font-size: 1.5rem;;
    right: 1vmin;
    top: 1vmin;
}

.start-screen {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.background {
    --left: 0;
    position: absolute;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.player {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--left) * 1%)
}

.bottomBlock {
    left: calc(var(--left) * 1%);
    height: 30%;
    position: absolute;
    bottom: 0;
}