@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/AdobeStock_566252812.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
   margin: 2.5rem;
}

span {
    font-family: 'VT323', sans-serif;
    font-size: 2rem;
}
p {
    font-family: 'VT323', sans-serif;
    display: inline;
    font-size: 150px;
    color: white;
    text-shadow: 10px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    cursor: default;
    position: relative;
    bottom: 0;
    transition: bottom .1s ease-in;
}
p:hover {
    bottom: 2rem;
    transition: bottom .1s ease-in;
    color: #C1666B;
}

#carousel {
    
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    transition: all .2s linear;
}


.carouselBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    background-color: none;
}

#levelName {
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.1);
}
#levelName:hover {
    background-color: #C1666B;
    color: white;
}

#loadButton {
    display: none;
}

#navButtons {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 1rem;
    margin-left: 63px;
}

.gridButton {
    background-color: rgba(255, 255, 255, .95);
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridButton:hover {
    background-color: #C1666B;
    color : rgba(255, 255, 255, .95);
}
.gridButton:last-child {
    background-color: rgba(62, 92, 118, .95);
    padding: .5rem .1rem 0 .3rem;
    grid-area: 2 / 3;
}
.gridButton:last-child:hover {
    background-color: rgba(193, 102, 107, .95);

}

#creditPage {
    grid-area: 2 / 1 / 2 / 1;
}

#optionPage {
    grid-area: 2 / 2 / 2 / 2;
}

#scorePage{
    background-color: rgba(255, 255, 255, .95);
}

#scorePage:hover{
    background-color: rgba(193, 102, 107, .95);
}

@media only screen and (max-width: 900px) {
    p {
        font-size: 5rem;
        text-shadow: 5px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    
    }
}