@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* COMMON CSS */
:root {
    --c_primary : #C1666B;
    --c_primary_dark : #B85156;
    --c_primary_light : #D08B8F;
    --c_primary_light_alpha:  rgba(208, 139, 143, 0.5);
    --c_white : #FAFAFA;
    --c_grey : #888888;
    --c_black: #1E1E1E;
    --f_size_ref : 20px;
    --w_viewgame : 1280px;
    --h_viewgame : 720px;
    --b_player : 17%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

html{
    background-image: url("../Runner_assets/img/paris_background.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: bottom center;
    background-size: cover;
    font-size: var(--f_size_ref);
    font-family: sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'VT323', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: var(--c_white);
    text-shadow: 8px 0 var(--c_black), -2px 0 var(--c_black), 0 2px var(--c_black), 0 -2px var(--c_black), 2px 2px var(--c_black), -2px -2px var(--c_black), 2px -2px var(--c_black), -2px 2px var(--c_black);
    cursor: default;
    text-align: center;
}

h1 span {
    display: inline;
    position: relative;
    transition: bottom .1s ease-in-out;
    bottom: 0px;
}

h1 span:hover {
    color: var(--c_primary);
    bottom: 10px;
}
#runnerToHomePage {
    width: 30px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    top: .5rem;
    position: relative;
}


#optionsDisplay {
    font-family: 'VT323', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

#optionsDisplay strong {
    color:#B85156;
    text-shadow: 2px 0 var(--c_black), -2px 0 var(--c_black), 0 2px var(--c_black), 0 -2px var(--c_black), 2px 2px var(--c_black), -2px -2px var(--c_black), 2px -2px var(--c_black), -2px 2px var(--c_black);


}

/* PLAY PAGE */

 .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

 .viewgame{
    background-color: var(--c_white);
    border: 3px solid var(--c_black);
    width: var(--w_viewgame);
    height: var(--h_viewgame);
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px var(--c_black), -2px 0 var(--c_black), 0 2px var(--c_black), 0 -2px var(--c_black), 2px 2px var(--c_black), -2px -2px var(--c_black), 2px -2px var(--c_black), -2px 2px var(--c_black);
}

 .player{
    height: 20%;
    width: 8%;
    background-image: url('../Runner_assets/img/p_wait.png');
    background-size: cover;
    position: absolute;
    bottom: var(--b_player);
    left: 2%;
}

 .playerrunning{
    background : center / cover no-repeat url('../Runner_assets/img/p_run.gif');
}

 .jumping{
    animation: playerJump 0.5s linear infinite;
    background-image: url('../Runner_assets/img/p_jump.png');
    background-size: cover; 
} 

 .crouching{
    background : center / cover no-repeat url('../Runner_assets/img/p_crounch.png');
}

 .dead{
    background : center / cover no-repeat url('../Runner_assets/img/p_dead.png');
}

@keyframes playerJump{
    0%{
        bottom: var(--b_player);
    } 45%{
        bottom: calc(var(--b_player) + 30%);
    } 55% {
        bottom: calc(var(--b_player) + 30%);
    } 100%{
        bottom: var(--b_player);
    }
}

 #block{
    position: absolute;
    right: -10%;
}

 #block.B{
    height: 10%;
    width: 10%;
    background-image: url('../Runner_assets/img/rat.gif');
    background-size: contain;
    bottom: var(--b_player);
}

 #block.C{
    height: 20%;
    width: 10%;
    background-image: url('../Runner_assets/img/pigeon.gif');
    background-size: contain;
    top: 50%;
}

 .spawn{
    animation: blockSpawn 1s linear infinite;
}

@keyframes blockSpawn{
    0%{
        right: -50%;
    }100% {
        right: 100%;
    }
}

 .road{
    background-image: url('../Runner_assets/img/backgroung_game.png');
    background-size: contain;
    width: calc(var(--w_viewgame) * 20);
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.running{
    animation: roadAnimate 20s linear infinite;
}

@keyframes roadAnimate{
    0%{
        left: 0;
    }100% {
        left: calc(var(--w_viewgame)  * -7.68);
    }
}

 .score{
    font-family: 'VT323', sans-serif;
    height: auto;
    width: auto;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 0;
    padding: 1% 2%;
    background-color: var(--c_primary);
    color: var(--c_white);
    border-radius: 25px;
}

.gameOver{
    display: none;
    position: absolute;
    font-size: 10rem;
    color: var(--c_primary_dark);
    top: 30%;
    left: 22%;
}
    .startGame{
    display: block;
    position: absolute;
    font-size: 5rem;
    color: var(--c_primary_dark);
    font-family: 'VT323', sans-serif;
    top: 30%;
    left: 22%;
}
    .GO{
    text-shadow: 10px 0 var(--c_white), -2px 0 var(--c_white), 0 2px var(--c_white), 0 -2px var(--c_white), 2px 2px var(--c_white), -2px -2px var(--c_white), 2px -2px var(--c_white), -2px 2px var(--c_white);
}
    .PS{
    position: absolute;
    font-size: 2rem;
    color: var(--c_black);
    font-family: 'VT323', sans-serif;
    top: 90%;
    left: 20%;
    text-shadow: -2px 0 var(--c_white), 0 2px var(--c_white), 0 -2px var(--c_white), 2px 2px var(--c_white), -2px -2px var(--c_white), 2px -2px var(--c_white), -2px 2px var(--c_white);
}
    .pause{
    animation-play-state: paused;
}
    .menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 100%;
    width: 100%;
    background-color: var(--c_primary_light_alpha);
    position: relative;
}
    .menu button{
    font-family: 'VT323', sans-serif;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    color: var(--c_primary);
    background-color: var(--c_white);
    border: 1px solid var(--c_primary);
}
    .menu button:hover{
    cursor: pointer;
    color: var(--c_white);
    background-color: var(--c_primary);
    border: 1px solid var(--c_white);
}

/* RESPONSIVE */
@media screen and (max-width: 1300px), (max-height: 1000px){
    :root{
        --w_viewgame : calc(1280px / 2);
        --h_viewgame : calc(720px / 2);
    }
    
    .gameOver{
        font-size: 5rem;
    }
}

@media screen and (max-width: 650px), (max-height: 500px) {
    :root{
        --w_viewgame : calc(1280px / 4);
        --h_viewgame : calc(720px / 4);
    }
    h1 {
        font-size: 3rem;
    }
    .gameOver{
        font-size: 2.5rem;
    }

    .menu button{
        font-size: 1rem;
    }
}

@media screen and (max-height: 500px), (max-width: 440px){
    .title{
        display: none;
    }
}